Notes/21. Introducing Windows Communication Foundation/MathServiceHTTP/MathServiceClient/Service References/ServiceReference1/MyMathService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.iamchirag.com" elementFormDefault="qualified" targetNamespace="www.iamchirag.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>